<!DOCTYPE html>
<html>
<head>
    <title>Content</title>
    <meta charset="utf-8" />
    <script src="../Scripts/JQuery/jquery-3.2.1.slim.js"></script>
    <script src="../Scripts/JavaScripts/content.js"></script>

</head>
<body>
    <p id="test">JQuery<br />Ogreniyorum</p>
    <button id="btn1">Metni göster</button>
    <button id="btn2">Html'i göster</button>

    <p>Ad: <input type="text" id="test2" value="Ekrem Alpay"></p>
    <button id="btn3">Değeri göster</button>

    <p id="ea" href="http://www.ekremalpay.com">Ekrem Alpay</p>
    <button id="btn4">Href değerini göster</button>

    <p id="test3">İlk değişecek ifade</p>
    <p id="test4">İkinci değişecek ifade</p>
    <p>Veri girişi: <input type="text" id="test5" value="Üçüncü değişecek ifade"></p>
    <button id="btn5">Text'i ata</button>
    <button id="btn6">Html'i ata</button>
    <button id="btn7">Değeri ata</button>

    <p id="test6">Ekrem</p>
    <p id="test7">Ekrem Alpay 2017</p>
    <button id="btn8">Eski/Yeni Metin</button>
    <button id="btn9">Eski/Yeni Html</button>

    <p><a id="ea4" href="http://www.ekremalpay.com">Ekrem Alpay</a></p>
    <button id="btn11">Href değerini değiştir</button>
</body>
</html>