<!DOCTYPE html>
<html>
<head>
    <title>CRUD</title>
    <meta charset="utf-8" />
    <script src="../Scripts/JQuery/jquery-3.2.1.min.js"></script>
    <script src="../Scripts/JavaScripts/crud.js"></script>
</head>
<body>
    <p>Birinci satır</p>
    <p>İkinci satır</p>
    <ol>
        <li>1.Liste elemanı</li>
        <li>2.Liste elemanı</li>
        <li>3.Liste elemanı</li>
    </ol>
    <button id="btn1">Metin Ekle</button>
    <button id="btn2">Liste elemanını ekle</button>
    <button id="btn3">Öne eklenen metin</button>
    <button id="btn4">Öne liste elemanı olarak eklenen eleman</button>
    <br /><br />

    <br><br>
    <button id="btn5">ONCE EKLE</button>
    <button id="btn6">SONRA EKLE</button>
    <button onclick="afterText()">SONRA EKLE</button>
    <br /><br />

    <div id="pat" style="height: 140px; width: 350px; border: 2px solid black; background-color: aqua;">
        <p>Ekrem Alpay</p>
        <p>Buraya kadar jQuery ile ilgili birçok şey öğrendik.</p>
    </div>
    <br>
    <button id="btn7">Div'i sil</button>
    <br /><br />

    <div id="div1" style="height: 140px; width: 350px; border: 2px solid black; background-color: aqua;">
        <p>I.Steve Jobs</p>
        <p>II:Tim Cook</p>
    </div>
    <br>
    <button id="btn8">Elemanı Sil</button>
    <br /><br />

    <p>Ekrem Alpay</p>
    <p class="italicRemove"><i>İtalik yazılar<br> bir bakarsın silinirler</i></p>
    <button id="btn9">ITALIKLER SILINECEK</button>
</body>
</html>