<!DOCTYPE html>
<html>
<head>
    <title>Fade</title>
    <meta charset="utf-8" />
    <script src="../Scripts/JQuery/jquery-3.2.1.min.js"></script>
    <script src="../Scripts/JavaScripts/fade.js"></script>
</head>
<body>
    <p>Fade Kullanımı</p>
    <button>Kutuları Getirmek İçin Tıkla</button>
    <br />
    <div id="x1" style="width: 60px; height: 70px; display: none;background-color: rebeccapurple"></div><br />
    <div id="x2" style="width: 60px; height: 70px; display: none;background-color: gray"></div><br />
    <div id="x3" style="width: 60px; height: 70px; display: none;background-color: brown"></div><br />
</body>
</html>