<!DOCTYPE html>
<html>
<head>
    <title>Function</title>
    <meta charset="utf-8" />
    <script src="../Scripts/JavaScripts/function.js"></script>
</head>
<body>
    <form>
        <font face="Comis sans MS" text="red">
            <input type="button" name="Button1" value="Yellow" onclick="color('yellow')" />
            <input type="button" name="Button2" value="Red" onclick="color('red')" />
            <input type="button" name="Button3" value="Green" onclick="color('green')" />
            <input type="button" name="Button4" value="Blue" onclick="color('blue')" />
            <input type="button" name="Button5" value="White" onclick="color('white')" />
        </font>
    </form>

    <p style="color: blue; font-size: 24px; font-family: 'Comic sans MS', Mistral"><BLINK>Change the color of the active window</BLINK></p>
</body>
</html>
