<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="../Scripts/JavaScripts/array.js"></script>
    <script src="../Scripts/JavaScripts/assignment.js"></script>
    <script src="../Scripts/JavaScripts/comment.js"></script>
    <script src="../Scripts/JavaScripts/control.js"></script>
    <script src="../Scripts/JavaScripts/document.js"></script>
    <script src="../Scripts/JavaScripts/history.js"></script>
    <script src="../Scripts/JavaScripts/incdec.js"></script>
    <script src="../Scripts/JavaScripts/math.js"></script>
    <script src="../Scripts/JavaScripts/oop.js"></script>
    <script src="../Scripts/JavaScripts/recursive.js"></script>
    <script src="../Scripts/JavaScripts/switchcase.js"></script>
    <script src="../Scripts/JavaScripts/windowalertpromp.js"></script>
</head>
<body>

</body>
</html>