<!DOCTYPE html>
<html>
<head>
    <title>Input</title>
    <meta charset="utf-8" />
</head>
<body>
    <div id="temas-form">
        <form id="temas" method="post" action="">
            <fieldset>
                <label for="name">Name</label>
                <input type="text" ad="name"><br />
                <label for="email">E-mail</label>
                <input type="email" ad="email"><br />
                <label for="Phone">Phone</label>
                <input type="text" ad="phone"><br />
                <label for="website">Website</label>
                <input type="url" ad="url"><br />
                <label for="message">Q/A</label>
                <textarea ad="message"></textarea><br />
                <input type="submit" ad="submit" id="submit" value="Send Message" />
            </fieldset>
        </form>
    </div>

    <input type="text" autocomplete="off"><br />
    <input type="text" autofocus><br />
    <input type="submit" formaction="save" value="Hide"><br />
    <input type="submit" formenctype="application/x-www-form-urlencoded" value="Hide"><br />
    <input type="submit" formmethod="POST" value=" POST GONDER"><br />
    <input type="submit" formnovalidate value="Verification"><br />
    <input type="submit" formtarget="_blank" value="TAB/WINDOW"><br />
    <input type="text" list="characters"><br />
    <input type="range" max="100"><br />
    <input type="range" min="0"><br />
    <input type="file" multiple><br />

    <form action="save" method="GET" novalidate>
        <input type="text" pattern="[A-Z]*"><br />
        <input type="placeholder" name="name" placeholder="Name"><br />
        <input type="text" readonly><br />
        <input type="text" required><br />
        <input type="text" spellcheck="true"><br />
        <input type="number" step="3">
    </form>
</body>
</html>