<!DOCTYPE html>
<html>
<head>
    <title>OnChange</title>
    <meta charset="utf-8" />
    <script src="../Scripts/JavaScripts/onchange.js"></script>
</head>
<body>
    <form>
        <select name="list" size="1" onchange="location=sec(this)">
            <option value="#" /> Select.
            <option value="http://www.google.com" /> Google.
            <option value="http://www.yandex.com" /> Yandex.
            <option value="http://www.yahoo.com" /> Yahoo.
        </select>
    </form>
</body>
</html>