<!DOCTYPE html>
<html>
<head>
    <title>Storage</title>
	<meta charset="utf-8" />
    <script src="../Scripts/JavaScripts/storage.js"></script>
</head>
<body>
    <h1>Data Storage</h1>
    <form>
        <div>
            <label for="key">Key: </label>
            <input type="text" id="key" name="key" placeholder="key" />
        </div>
        <div>
            <label for="value">Value: </label>
            <input type="text" id="value" name="value" placeholder="value" />
        </div>
        <button type="submit" onclick="sendData()">Send Data</button>
    </form>
</body>
</html>