<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="../Scripts/JavaScripts/upplow.js"></script>
</head>
<body>
    <form name="form1">
        <b>Ad</b>
        <input type="text" name="ad" />
        <b>Soyad</b>
        <input type="text" name="soyad" />

        <input type="button" value="Büyük Harf" name="buyukharf" onclick="degis('buyuk')" />
        <input type="button" value="Küçük Harf" name="kucukharf" onclick="degis('kucuk')" />
    </form>
</body>
</html>